
<%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => "20" %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select(:category, ['Automobile', 'Clothing', 'Computer/Computer Accesories', 'Consumables', 'Electronics', 'Others'], :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :posted_by %><br />
    <%= f.text_field :posted_by %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, :size => "10" %>
  </div>
  <div class="field">
    <%= f.label :negotiable %><br />
    <%= f.select(:negotiable, ['Negotiable', 'Non-Negotiable']) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "40x5" %>
  </div>
  <div>
    <%= f.label :address %><br />
    <%= f.text_area :address, :size => "40x5" %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select(:state, %w[Abia Adamawa Akwa-Ibom Anambra Bauchi Bayelsa Benue Borno Cross River Delta Ebonyi Edo Ekiti Enugu FCT Gombe Imo Jigawa Kaduna Kano Katsina Kebbi Kogi Kwara Lagos Nasarawa Niger Ogun Ondo Osun Oyo Plateau Rivers Sokoto Taraba Yobe Zamfara], :include_blank => true)  %>
  </div>

  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </div>  
  <div>
    <%= f.label :photo, "Photo" %>  
    <%= f.file_field :photo %>  
  </div>
  <div class="newPaperclipFiles">

        <%= f.fields_for :assets do |asset| %>
           <% if asset.object.new_record? %>
             <p>Photo <%= asset.file_field :image %></p>
           <% end %>

       <% end %>

  </div>

  <div class="existingPaperclipFiles">
     <%= f.fields_for :assets do |asset| %>
          <% unless asset.object.new_record? %>
                <div class="thumbnail">
                        <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) ) %>
                        <%= asset.check_box :_delete %>
                </div>
          <% end %>        
     <% end %>
  </div>
  <div>
  <div class="actions">
    <%= f.submit "Post Product" %>
  </div>

<% end %>
