<h1><%= @title = @product.name.capitalize %></h1>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>category:</b>
  <%= @product.category %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Negotiable:</b>
  <%= @product.negotiable %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Address:</b>
  <%= @product.address %>
</p>
<p>
  <b>Phone no:</b>
  <%= @product.phone_no %>
</p>

<p><%= image_tag @product.photo.url(:large) %></p>

<% if @photos.nil? %>
  <p></p>
<% else %>
  <% @photos.each do |photo|  %>
    <% a = "/system/images/" + "#{photo.id}" + "/thumb/" + "#{photo.image_file_name.to_s}" %>
    <p> <%= image_tag a %> </p>
  <% end %>
<% end %>

<% if @product.user.nil? %>
  <p><font color='red'>This product was posted by a guest user</font></p>
<% else %>
  <%= link_to 'Click to see more products by this user', @product.user %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> 
<%= link_to 'Back', products_path %>
