
<!DOCTYPE html>
<html>
<head>
  <title>Karakata - <%= @title ||= 'The Online MarketPlace' %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jquery.magnifier.js' %>
  <%= javascript_include_tag 'jquery.imageWarp.js' %>  
  <%= csrf_meta_tag %>
</head>
<body bgcolor="lightGray">
<table height="1000" width="100%" bgcolor="white">
  <tbody align="left" valign="top">
    <tr>
      <td colspan="3" height="15%" bgcolor="white" align="right"><%= image_tag("/images/logo.png", :size => "445x150") %>
       <div align = right>
    <% if user_signed_in? %>
      Welcome<b> <%= current_user.username.capitalize %></b>. Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%=  link_to "Register", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>.
    <% end %>
      </div>
</td>
    </tr>
    
    <tr valign="top">
      <td width="150" align="right" bgcolor="black"><%= link_to image_tag("/images/Home.png", :size => "150x44"), root_url %><%= link_to image_tag("/images/Search.png", :size =>"150x44"), root_url %><%= link_to image_tag("/images/Register.png", :size => "150x44"), new_user_registration_path %></td>
      <td width="700" height="85%" bgcolor="#d3d3d3"><%= yield :head %>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

      <%= yield %></td></td>
      <td width="150" bgcolor="Black"><p>FAQ</p></br><p>ajvdsjbjlc</p></td>
    </tr>
  </tbody>
</table>

</body>

      
</html>
